*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    transition: background-color 0.5s ease, color 0.5s ease
    background: #F6F8FC

.cursor-pointer
    cursor: pointer

// Set colors
.primary-text-color
    color: $primary-theme-color

/* Modo claro */
[data-theme='light']
    .button-primary
        background: #303c42
        border-radius: 10px
        color: #fff
        padding: 6px 30px
        font-weight: bold
        color: $primary-theme-color
        transition: 0.2s all
        &:hover
            letter-spacing: 1px
            @extend .button-primary
    .card
        border-radius: 10px

/* Modo escuro */
[data-theme='dark']
    body
        background: #2B3151
    h1, h3, h5, button, select, span,p,.btn-close
        color: #fff !important

    .card, select, .modal-content
        background: #333B64

    .button-primary
        background: $primary-theme-color
        border-radius: 10px
        font-weight: bold
        color: #fff
        padding: 6px 30px
        color: #303c42
        transition: 0.2s all
        &:hover
            letter-spacing: 1px
            @extend .button-primary

    .stats
        color: #000 !important
        background-color: #2B3151
        font-weight: bold !important

    .bg-white, .form-control
        background-color: #333B64 !important
        border: none !important
        color: white !important

    .nav-link
        color: white

    input::placeholder
        color: #fff
        opacity: 1
    .dark-color
        color: $primary-theme-color
